<!DOCTYPE html>
<html>
  <head>
    <title>Cryptoparty.in - Find cryptoparties near you</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="alternate" type="application/atom+xml" title="Upcoming Cryptoparties" href="/feeds/atom"/>

    <style>
    #map-canvas img {
        max-width: none;
    }
    </style>
    <script>
        var default_location = '{{location}}';
    </script>
  </head>
  <body>
    <div class="navbar">
        <!-- empty div for top padding -->
    </div>
    <div class="container">
    <noscript>
        <div class="alert"><strong>Oh, You don't like Javascript either.</strong> That's nice! But this site doesn't make much sense without it. So please switch to a reasonable broswer or add an exception in NoScript. Thanks!</div>
    </noscript>
    {% block message %}
    {% endblock %}
    <div class="row">
        <div class="span4">
            <a href="/"><img src="{{ url_for('static', filename='CryptoPartyLogo.png') }}"></a>
            <h3>Cryptoparties<small> in your area</small></h3>
            <p>
            <form id="search_location_form" class="form-inline">
                <input id="search_location_text" type="text" placeholder="Your City, Address, ZIP Code, etc.">

                <button id="search_location_go" class="btn" type="button">Go!</button>

                <p><small>No luck finding one? Why don't you <a href="http://www.cryptoparty.in/parties/howto">host your own?</a></small></p>
            </form>
            </p>

            <h3><small>What is a</small> Cryptoparty?</h3>
            <p>
            CryptoParty is a decentralized, global initiative to introduce basic cryptography tools - such as the Tor anonymity network, public key encryption (PGP/GPG), and OTR (Off The Record messaging) - to the general public. 
            </p>            

            <h3><small>Notify me about </small>Cryptoparties</h3>
            <p>You're interested in cryptoparites? Good! If you don't want to miss one in your area, pass us your email address and your location.</p>
            <div id="notify_me_about_cryptoparties">
            <div id="subscription_error"></div>
                <form id="subscription_form">
                    <div class="input-append">
                        <input id="subscription_location_text" type="text" placeholder="Your location">
                        <button class="btn" type="button" id='subscription_search_btn'><i class="icon-search"></i></button>
                    </div>
                    <input type="hidden" name="subscription_lat">
                    <input type="hidden" name="subscription_lon">
                    <input type="text" name="subscription_email" placeholder="Your email address"><br>
                    <button class="btn btn-primary">Keep me in the loop!</button>
                </form>
                Or, you could look in our <a href="/party/archive">archive</a> or the <a href="/party/upcoming">list of upcoming parties</a>
            </div>
            <h3><small>Hosting a</small> Cryptoparty <small>yourself?</small></h3>
            Excellent! Please add it to <a href="/party/add">our directory to help others find it!</a>
        </div>
        <div id="map" class="span8" style="height: 666px"></div>
        <div id="footer" class="span8">
            <p class="pull-right">
                <small>Free software. Contribute on <a href="https://github.com/cryptoparty/cryptoparty.in">Github</a>.</small>
            </p>
        </div>
    </div>
    </div>

    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}" />
    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-hash.js') }}"></script>

 </body>
</html>
